*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1000px;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 600px;
  border: solid grey;
  background-color: rgb(50, 50, 50);
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  border: black solid;
}

.display p {
  border: red solid;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 5px 20px;
  height: 40%;
}

.interface {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 450px;
  border: green solid;
}

.section-upper {
  border: solid pink;
  flex: 1;
}

button {
  height: 1/5;
  width: 25%;
  border: solid 1px rgb(50, 50, 50);;
  border-radius: 10px;
}

.button-operate {
  width: 50%;
}

