*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 2000px;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 600px;
  height: 1000px;
}

.display {
  border: black solid;
}

.display p {
  border: red solid;
}

.interface {
  border: green solid;
}